<h1><%= t ".title" %></h1>
<p><%= t ".description" %></p>
  <%= link_to t(".title"), "#{ENV["RESET_PASSWORD_URL"]}/#{@user.reset_token}?email=#{@user.email}" %>
<p><%= t ".expiration" %></p>
<p><%= t ".warning" %></p>
